@{
    ViewBag.Title = "About Drinago";

}



<header class="h">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!--<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>-->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="responsive-img" src="http://i.imgur.com/R8Xyf8p.jpg" alt="Chania">
            </div>

            <div class="item">
                <img class="responsive-img" src="http://i.imgur.com/G88mnUW.jpg" alt="Chania">
            </div>

            <div class="item">
                <img class="responsive-img" src="http://i.imgur.com/lQRCV4J.jpg" alt="Flower">
            </div>

            <div class="item">
                <img class="responsive-img" src="http://i.imgur.com/ZDOOh7N.jpg" alt="Flower">
            </div>
        </div>
    </div>
</header>

<style>
    .h {
        padding-top: 100px;
        padding-bottom: 0px;
    }
</style>











<!--<div class="jumbotron-3">

    <h2 class="About" align="center">@ViewBag.Title</h2>
    <h1 class="food">FOOD & DRINK</h1>
    <p class="fancy"><span>Food</span></p>
    <div class="content">
        <p>Ovo je samo test</p>

    </div>
</div>-->
<!--<div class="page-header">
    <img class="slider" src="http://www.freewebheaders.com/wordpress/wp-content/gallery/food/food-dishes-header.jpg" alt="Food picture" />
</div>-->
<!--<style>
    .food {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background: url(http://s.cdpn.io/3/blurry-blue.jpg);
        background-size: cover;
        color: white;
        font-size: 3.5em;
        text-align: center;
    }

    .fancy {
        margin: 0 0 2em 0;
        text-align: center;
        color: white;
        font-size: 1em;
    }

</style>-->
<!--.food {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;
}
.food:before, .food:after {
  background-color: #ddd;
  content: '\a0';
  flex-grow: 1;
  height: 5px;
  position: relative;
  top: 0.5em;
}
.food:before {
  margin-right:10px;
}
.food:after {
  margin-left:10px;
}-->
<!--<style>
    .jumbotron-3 {
        background: url(http://www.freewebheaders.com/wordpress/wp-content/gallery/food/food-dishes-header.jpg);
        padding-top: 200px;
        padding-bottom: 100px;
        background-size: cover;
    }

    .About {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>-->
<!-- Editor's Notice-->

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel white lighten-5 z-depth-1">
        <h3>@ViewBag.Message</h3>
        <p align="justify">
            This is an early aplha stage of the website. We have chosen to build our website using ASP.NET MVC. Please, any errors you may encounter, let me know at: test@test.com, thanks!
            This website uses bootstrap framework, which means that it's responsive out of the box, so you can use it on any device you want. This website is dedicated to the tourists who are visiting or who are wishing to visit Bosnia, and in this case, the small town of Gorazde. Point of the website is to introduce tourists to the town of Gorazde, people of Gorazde, culture of Gorazde and so forth.
        </p>
    </div>
</div>
<br />

