<!--@{
    ViewBag.Title = "General Info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->

<div class="jumbotron-2 card-panel grey lighten-5 z-depth-1">

    <h2 class="info" align="center">@ViewBag.Title</h2>
</div>
<style>
    .info {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<div class="card-panel white lighten-5 z-depth-1">
    <p>Use this area to provide additional information.</p>
    </div>
