<!-- C# Code -->
@{
    ViewBag.Title = "Drinago";
}

@{
    ViewBag.Message = "Hi";
    ViewBag.Message2 = "Topographical position";
    ViewBag.Message3 = "Area of Gorazde";
}

<!-- End of C# code -->

<!-- ======== CAROUSEL =========-->
<body class="indexsadrzaj">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1 class="white">Welcome</h1>
                        <h3 class="white">For more infomation, click learn more</h3>
                    </hgroup>
                    <form style="display: inline" action="http://drinago.azurewebsites.net/Home/About" method="get">
                        <button class="btn btn-hero btn-lg" role="button">Learn more</button>
                    </form>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h1 class="white">Explore</h1>
                        <h3 class="white">Explore region of Drinago with our help</h3>
                    </hgroup>
                    <form style="display: inline" action="http://drinago.azurewebsites.net/Home/About" method="get">
                        <button class="btn btn-hero btn-lg" role="button">Learn more</button>
                    </form>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h1 class="white">Things to do</h1>
                        <h3 class="white">Click on the dropdown menu, to learn more</h3>
                    </hgroup>
                    <form style="display: inline" action="http://drinago.azurewebsites.net/Home/About" method="get">
                        <button class="btn btn-hero btn-lg" role="button">Learn more</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ========= END OF CAROUSEL ========== -->
    <!-- ========== ROW ONE ========== -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h4 align="center">@ViewBag.Message</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                    <br />
                    Welcome to industrial, cultural, administrative, university and sports center of Upper Drina's region of Bosnia - podrinje canton.
                    It is important to know more about where are you going to stay, for that, we will include "Where to stay" section. Which means that you
                    can check almost every place for staying in the town and surrounding area of the town. Also, like "Where to stay", we will include
                    "Where to eat" which means that you can check every place in town which serves food.
                    In the nearest future we plan to implement review section.
                    <br />
                    <br />
                    What is <b>review section?</b> Basically you can view reviews for places (hotels, motels, restaurants, coffee bars)
                    from other people. That way you can easily read the reviews and check if certain place is for you.
                    Feel free to explore the website, if  you have any questions, be sure to check the Info section, or About section.
                    Drinago wishes you a pleasant stay.
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more</a></p>
            </div>

            <div class="col-md-4">
                <h4 align="center">@ViewBag.Message2</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/62eDcbs.jpg" />
                    <br />
                    Town of Gorazde and head of Municipality of Gorazde is located in the central part of the Upper Drina.
                    Gorazde has a very good geographical and strategic position. City is located on the pediment eastern slopes
                    of Jahorina at an altitude of 345 meters. It is interesting to note that the average altitude is 340 meters
                    of the European continent.
                    The city is located in the valley widening whose origin caused denudation - erosion effect of the Drina river,and its tributaries.
                    Valley framed by the expansion of the:
                    <ul>
                        <li>South-East (Biserna - 701 meters),</li>
                        <li>South (Samarima - 696 meters),</li>
                        <li>Southwest (Mišijak - 618 meters),</li>
                        <li>West (Gubavica - 410 meters), </li>
                        <li>North (Površnica - 420 meters).</li>
                    </ul>
                    Highest peak in the vicinity of the town is (Sjenokos - 690 meters).
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more</a></p>
            </div>

            <div class="col-md-4">
                <h4 align="center">@ViewBag.Message3</h4>
                <hr />
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/IitkXgH.jpg" />
                    <br />
                    For the creation and development of the city were significant not only water, fertile soil, suitable
                    for establishing, but the roads which were impotant that determined Goražde as a natural crossroad.
                    Goražde as a settlement was formed at the site of the gravitational center of the wider area of agriculture - livestock region.
                    Until 1952, when municipalitz of Goražde is formed, before that it was part of the district Čajniče, given that it was more important
                    economic center (mining town) at the thime of the Ottoman and Austro-Hungarian period, total of 453 years.
                    The significant development of Goražde experiences proclamation (establishment) of the Municipality in early 50s of the last century.
                    Settlement of Goražde in history was the main intersection of roads leading to Dalmatian coast, Serbia, Montenegro and Sarajevo.
                    Greater significance Goražde recieved during the road reconstruction (Foča - Goražde) in 1887.
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more</a></p>
            </div>

        </div>
    </div>
</body>

<!-- ========== END OF ROW ONE ========== -->

<!-- End of Index.cshtml code -->
