<!-- C# Code -->
@{
    ViewBag.Title = "Drinago";
}

@{
    ViewBag.Message = "Hi";
    ViewBag.Message2 = "Topographical position";
    ViewBag.Message3 = "Area of Gorazde";
}

<!-- End of C# code -->

<!-- ======== CAROUSEL =========-->
<body class="indexsadrzaj">
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <h1>Welcome</h1>
                    <h3>For more infomation, click learn more</h3>
                </hgroup>
                <form style="display: inline" action="http://drinago.azurewebsites.net/Home/About" method="get">
                    <button class="btn btn-hero btn-lg" role="button">Learn more</button>
                </form>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    <h1>Explore</h1>
                    <h3>Explore region of Drinago with our help</h3>
                </hgroup>
                <form style="display: inline" action="http://drinago.azurewebsites.net/Home/About" method="get">
                    <button class="btn btn-hero btn-lg" role="button">Learn more</button>
                </form>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    <h1>Things to do?</h1>
                    <h3>Click on the dropdown menu, to learn more</h3>
                </hgroup>
                <form style="display: inline" action="http://drinago.azurewebsites.net/Home/About" method="get">
                    <button class="btn btn-hero btn-lg" role="button">Learn more</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ========= END OF CAROUSEL ========== -->

<!-- ========== ROW ONE ========== -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h4 align="center">@ViewBag.Message</h4>
            <hr />
            <p align="justify">
                <img class="img-responsive center-block" src="http://i.imgur.com/2hAJxMV.jpg" />
                <br />
                Welcome to industrial, cultural, administrative, university and sports center of Upper Drina's region of Bosnia - podrinje canton. 
                Drinago Team wishes you a pleasant stay.
            </p>
            <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more</a></p>
        </div>
        <div class="col-md-4">
            <h4 align="center">@ViewBag.Message2</h4>
            <hr />
            <p align="justify">
                <img class="img-responsive center-block" src="http://i.imgur.com/62eDcbs.jpg" />
                <br />
                This area here should include map, and or little information about topographical position.
            </p>
            <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more</a></p>
        </div>
        <div class="col-md-4">
            <h4 align="center">@ViewBag.Message3</h4>
            <hr />
            <p align="justify">
                <img class="img-responsive center-block" src="http://i.imgur.com/IitkXgH.jpg" />
                <br />
                This area here should include map, and or little information about Gorazde area.
            </p>
            <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/Info">Learn more</a></p>
        </div>
    </div>
</div>
    </body>


<!-- ========== END OF ROW ONE ========== -->

<!-- End of Index.cshtml code -->