<!--@{
    ViewBag.Title = "Drinago";
}-->

<div class="jumbotron-1">
    <style>
        .jumbotron-1 {
            background:url(http://i.imgur.com/SkoY75s.jpg);
            padding-top: 200px;
            padding-bottom: 50px;
            background-size: cover;
        }
    </style>

    <!--<h1 align="right">Welcome to Gorazde</h1>-->
</div>

<!-- Home page code -->

<hr />
    <div class="row">
        <div class="col-md-4">
            <div class="card-panel white lighten-5 z-depth-1">
                <h4 align="center">Basic Info</h4>
                <p align="justify">
                    <img class="img-responsive center-block" src="http://i.imgur.com/R8Xyf8p.jpg" />
                    Welcome to industrial, cultural, administrative, university and sport's center of Upper Drina's region of Bosnian - podrinje canton.
                    Drinago Team wishes you a pleasant stay.
                </p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/About">Learn more &raquo;</a></p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-panel white lighten-5 z-depth-1">
                <h4 align="center">Topographical position</h4>
                <img class="img-responsive center-block" src="http://i.imgur.com/SkoY75s.jpg" />
                <p align="justify">According to the latest census which was held in 2013, Gorazde had around 12.512 citizens.</p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/About">Learn more &raquo;</a></p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-panel white lighten-5 z-depth-1">
                <h4 align="center">Area of Gorazde</h4>
                <img class="img-responsive center-block" src="http://i.imgur.com/lQRCV4J.jpg" />
                <p align="justify">Gorazde was multiethnical and multireligious from it's mentioning in historical documents.</p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/About">Learn more &raquo;</a></p>
            </div>
        </div>
        <!--End of Row 1-->
    </div>

    <!-- Row two -->
<hr />
    <div class="row">
        <div class="col-md-6">
            <div class="card-panel white lighten-5 z-depth-1">
                <h4 align="center">Ethnicity and Religion</h4>
                <img class="img-responsive center-block" src="http://i.imgur.com/ZDOOh7N.jpg" />
                <p align="justify">Self explanatory. Time zone in Gorazde.</p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/About">Learn more &raquo;</a></p>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card-panel white lighten-5 z-depth-1">
                <h4 align="center">Surface Area of Gorazde</h4>
                <img class="img-responsive center-block" src="http://i.imgur.com/G88mnUW.jpg" />
                <p align="justify">This area will hold an interactive map with a legend drawer on the left..</p>
                <p><a class="btn btn-default" href="http://drinago.azurewebsites.net/Home/About">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>

<!-- End of Row 2-->



