<!--@{
    ViewBag.Title = "Info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->

<div class="jumbotron jumbotron-2">
    <style>
        .jumbotron-2 {
            padding-top: 200px;
            padding-bottom: 50px;
            background-image: url(http://i.imgur.com/R8Xyf8p.jpg);
            background-size: cover;
        }
    </style>
</div>
<style>
    .info {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<div class="sadrzaj">
    <h3>@ViewBag.Message</h3>
    <hr />
    <p>For now, when users clicks on a button located on the frontpage, that button should take users here.</p>
    <p>
        Actually better idea is to create a new page for every category, for example:
        <ul>
            <li>When you click on Learn More button, it takes you to a new page, for example when you click on Learn more button located on Basic Info button, it should take you to a new page called Basic Info with more informations.</li>
        </ul>
    </p>
</div>
