<!--@{
    ViewBag.Title = "Info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->

<div class="jumbotron jumbotron-2">
    <style>
        .jumbotron-2 {
            padding-top: 200px;
            padding-bottom: 50px;
            background-image: url(http://i.imgur.com/R8Xyf8p.jpg);
            background-size: cover;
        }
    </style>
</div>
<style>
    .info {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<div class="card-panel white lighten-5 z-depth-1">
    <p>Use this area to provide additional information.</p>
</div>
