@{
    ViewBag.Title = "Things to do";

}
@{ 
    ViewBag.Message = "Things to do";
    ViewBag.Message1 = "";
    ViewBag.Message2 = "";
    ViewBag.Message3 = "";
    ViewBag.Message4 = "";
    ViewBag.Message5 = "";
    ViewBag.Message6 = "";
}
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-3"></div>
            <div class="slider">
                <hgroup>
                    <h1>Things to do</h1>
                    <h3>Enjoy Drinago</h3>
                    <h5>Click on Learn more, for more information</h5>
                </hgroup>
            </div>
        </div>
    </div>
</div>

<!-- ========== Things to do ========== -->

<div class="section1">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <h3>@ViewBag.Message</h3>
        <hr />
       </div>
    </div>

<style>
    .section1,
    .section2,
    .section3,
    .section4 {
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        border-radius: 3px;
    }
</style>