<!--@{
    ViewBag.Title = "Where to";
}-->
<!--<h2>@ViewBag.Title.</h2>-->
<!--<h3>@ViewBag.Message</h3>-->

<div class="card-panel white lighten-5 z-depth-1">
   
    <h5 align="center">Lodging</h5>
    <p align="center">Where to stay</p>
</div>

    <!-- Where to code -->
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-image">
                    <img src="~/Photos/1.jpg">
                    <span class="card-title">Name of Hotel</span>
                </div>
                <div class="card-content">
                    <p>
                        I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.
                    </p>
                </div>
                <div class="card-action">
                    <a href="http://drinago.azurewebsites.net/Home/About">Learn more</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-image">
                    <img src="~/Photos/2.jpg">
                    <span class="card-title">Name of hotel</span>
                </div>
                <div class="card-content">
                    <p>
                        I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.
                    </p>
                </div>
                <div class="card-action">
                    <a href="http://drinago.azurewebsites.net/Home/About">Learn more</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Row two -->

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img src="~/Photos/4.jpg">
                    <span class="card-title">Name of motel</span>
                </div>
                <div class="card-content">
                    <p>
                        I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.
                    </p>
                </div>
                <div class="card-action">
                    <a href="http://drinago.azurewebsites.net/Home/About">Learn more</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img src="~/Photos/5.jpg">
                    <span class="card-title">Name of motel</span>
                </div>
                <div class="card-content">
                    <p>
                        I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.
                    </p>
                </div>
                <div class="card-action">
                    <a href="http://drinago.azurewebsites.net/Home/About">Learn more</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img src="~/Photos/6.jpg">
                    <span class="card-title">Name of motel</span>
                </div>
                <div class="card-content">
                    <p>
                        I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.
                    </p>
                </div>
                <div class="card-action">
                    <a href="http://drinago.azurewebsites.net/Home/About">Learn more</a>
                </div>
            </div>
        </div>
    </div>

   <!-- End of Row 2-->

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-image">
                <img src="~/Photos/4.jpg">
                <span class="card-title">Name of pansion</span>
            </div>
            <div class="card-content">
                <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                </p>
            </div>
            <div class="card-action">
                <a href="http://drinago.azurewebsites.net/Home/About">Learn more</a>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="card">
            <div class="card-image">
                <img src="~/Photos/5.jpg">
                <span class="card-title">Name of pansion</span>
            </div>
            <div class="card-content">
                <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                </p>
            </div>
            <div class="card-action">
                <a href="http://drinago.azurewebsites.net/Home/About">Learn more</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-image">
                <img src="~/Photos/6.jpg">
                <span class="card-title">Name of pansion</span>
            </div>
            <div class="card-content">
                <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                </p>
            </div>
            <div class="card-action">
                <a href="http://drinago.azurewebsites.net/Home/About">Learn more</a>
            </div>
        </div>
    </div>
</div>

   <!-- End of Row 2-->

   <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-image">
                <img src="~/Photos/1.jpg">
                <span class="card-title">Name of restaurant</span>
            </div>
            <div class="card-content">
                <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                </p>
            </div>
            <div class="card-action">
                <a href="http://drinago.azurewebsites.net/Home/About">Learn more</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-image">
                <img src="~/Photos/2.jpg">
                <span class="card-title">Name of restaurant</span>
            </div>
            <div class="card-content">
                <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                </p>
            </div>
            <div class="card-action">
                <a href="http://drinago.azurewebsites.net/Home/About">Learn more</a>
            </div>
        </div>
    </div>
</div>
