@{
    ViewBag.Title = "Archeology";
}

@{ 
    ViewBag.Message = "Archeology information about Gorazde";
}

<!-- ========== SADRZAJ in CSS is created for material design purpose only ========== -->

<!-- ======== CAROUSEL =========-->

<body class="infosadrzaj">
    @*<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
       
         Wrapper for slides 
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1 class="white">Archeology</h1>
                    </hgroup>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                    </hgroup>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                    </hgroup>
                </div>
            </div>
        </div>
    </div>*@

    <!-- ========= END OF CAROUSEL ========== -->

    <div class="sadrzaj">
        <h3>@ViewBag.Message</h3>
        <hr />
        <p align="justify">
            
                <!-- Data from Database -->
                @foreach (var item in Model)
            {
        <!-- Look for data from column Archeology1 -->
                    @Html.DisplayFor(modelItem => item.Archeology1)
                    <hr />
        <!-- Look for data in Archeology2 -->
                    @Html.DisplayFor(modelItem => item.Archeology2)
                    <hr />
                }
        </div>
</body>

<style>
    .infosadrzaj {
        background-color: orange; /*#cddc39;*/
    }
</style>