@{
    ViewBag.Title = "Geography";
}

@{
    ViewBag.Message = "Geography information about Gorazde";

}

<!-- ========== SADRZAJ in CSS is created for material design purpose only ========== -->

<!-- ======== CAROUSEL =========-->

<body class="infosadrzaj">
    @*<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
       
    </div>*@

    <!-- ========= END OF CAROUSEL ========== -->

    <div class="sadrzaj">
        <h3>@ViewBag.Message</h3>
        <hr />
        <p align="justify">
            
        </p>
    </div>
    <br />
    <div class="sadrzaj">
        <p>
            
        </p>
    </div>
    <br />
    <div class="sadrzaj">
        <p>
            
        </p>
    </div>
    <br />
    <div class="sadrzaj">
        <p>
           
        </p>
    </div>
    <br />
    <div class="sadrzaj">
        <p>
           
        </p>
    </div>
</body>

<style>
    .infosadrzaj {
        background-color: orange; /*#cddc39;*/
    }
</style>