@{
    ViewBag.Title = "Geography";
}

@{
    ViewBag.Message = "Geography information about Gorazde";

}

<!-- ========== SADRZAJ in CSS is created for material design purpose only ========== -->

<!-- ======== CAROUSEL =========-->

<body class="infosadrzaj">
    @*<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
       
    </div>*@

    <!-- ========= END OF CAROUSEL ========== -->

    <div class="sadrzaj">
        <h3>@ViewBag.Message</h3>
        <hr />
        <p align="justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis augue consectetur, laoreet metus eu, euismod ligula.
            Proin nec posuere arcu, sit amet scelerisque tortor. Proin ac sem nec leo gravida finibus. Mauris augue diam, consectetur non semper sed, dictum ac diam.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas scelerisque facilisis malesuada.
            Vivamus eget sem ac nunc blandit blandit ac at ipsum. Duis sagittis eros in ullamcorper viverra.
            Sed erat sapien, hendrerit eu molestie non, faucibus eu odio. Sed dapibus ac lacus quis pharetra.
            Aliquam id accumsan felis, id egestas augue. Aliquam et blandit lacus, sit amet dapibus mauris.
        </p>
    </div>
    <br />
    <div class="sadrzaj">
        <p>
            Praesent posuere, libero eu blandit sagittis, ligula massa fringilla felis, non porta dolor nisl condimentum nisl.
            Vivamus vel purus quis felis venenatis iaculis quis ut dolor. Ut enim ipsum, ornare in vestibulum in, vehicula in sem.
            Donec faucibus nisl nec augue maximus consequat. Nunc pretium tellus sed leo suscipit mattis. Etiam et efficitur felis.
            Integer ornare euismod sapien, venenatis scelerisque velit elementum eu. Nam vitae congue turpis. Sed eu facilisis turpis, eget gravida augue.
            Integer est nulla, porta sit amet vehicula vel, sollicitudin eu diam. Morbi condimentum interdum pulvinar.
            Sed vel nisi at sapien pretium facilisis nec et dui. Etiam pulvinar cursus odio, in mattis justo tincidunt eget.
        </p>
    </div>
    <br />
    <div class="sadrzaj">
        <p>
            Donec id neque id leo luctus mattis quis in metus. Vestibulum ut aliquet justo.
            Praesent dapibus lacus sit amet sem molestie, ac rutrum metus ornare.
            Phasellus nec finibus eros. Curabitur eu dui eget lacus fringilla dictum a iaculis nunc.
            Nullam mattis est enim, id lobortis ex aliquam ac. Nulla ultricies mattis lacinia.
            Aliquam erat volutpat. Ut a diam eu tortor blandit venenatis id in nulla. In accumsan quam nulla, nec aliquet felis dignissim ullamcorper.
            Phasellus molestie nisi at est imperdiet pellentesque. Integer efficitur felis vitae lectus lacinia interdum.
        </p>
    </div>
    <br />
    <div class="sadrzaj">
        <p>
            Sed rutrum ornare nunc, et aliquet urna porta sit amet. Sed sed lobortis elit. In eu semper purus, quis dapibus risus.
            Donec accumsan massa a tellus posuere euismod. Fusce dui risus, varius nec nisl vel, hendrerit mattis risus.
            Maecenas ex augue, euismod ac ex nec, posuere eleifend purus. Nullam faucibus at quam eget dictum.
            Pellentesque accumsan eros nec aliquet efficitur. Cras posuere mi eget sapien condimentum finibus.
            Aliquam vel tempus diam, id volutpat ex. Morbi non tellus non diam hendrerit ultricies.
            Morbi mattis augue nibh, eu venenatis est blandit ut. Fusce pulvinar dui in est vehicula mollis.
        </p>
    </div>
    <br />
    <div class="sadrzaj">
        <p>
            Ut tristique mi sit amet orci vehicula, id rhoncus dui convallis.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce eleifend elit posuere quam pulvinar pulvinar.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi at lacus eget nunc eleifend vestibulum placerat in sem.
            Quisque congue, urna et vehicula dictum, dolor nulla auctor lacus, quis lacinia augue enim vitae neque.
            Phasellus lacus neque, posuere non turpis vitae, efficitur volutpat neque. In convallis lacus nec neque placerat malesuada.
            Donec non risus in est vulputate porta dignissim id odio. Donec blandit nisl a ultricies fermentum. Donec dictum risus purus, a porta ligula condimentum ut.
        </p>
    </div>
</body>

<style>
    .infosadrzaj {
        background-color: orange; /*#cddc39;*/
    }
</style>