@{
    ViewBag.Title = "Geography";
}

@{
    ViewBag.Message = "Geography information about Gorazde";

}

<!-- ========== SADRZAJ in CSS is created for material design purpose only ========== -->

<!-- ======== CAROUSEL =========-->

<body class="infosadrzaj">
    @*<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
       
    </div>*@

    <!-- ========= END OF CAROUSEL ========== -->

    <div class="sadrzaj">
        <h3>@ViewBag.Message</h3>
        <hr />
        <p align="justify">
            
            <!-- Data from Database -->
            @foreach (var item in Model)
            {
        <!-- Look for data from column Geography1 -->
                @Html.DisplayFor(modelItem => item.Geography1)
                <hr />
        <!-- Look for data in Geography2 -->
                @Html.DisplayFor(modelItem => item.Geography2)
                <hr />
            }
            </div>
</body>

<style>
    .infosadrzaj {
        background-color: orange; /*#cddc39;*/
    }
</style>