@{
    ViewBag.Title = "Basic Information";
}

@{
    ViewBag.Message = "Notice";
    ViewBag.Message1 = "Geology";
    ViewBag.Message2 = "Paleozoic";
}

<!-- ========== SADRZAJ in CSS is created for material design purpose only ========== -->

<!-- ======== CAROUSEL =========-->

<body class="infosadrzaj">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
       
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1 class="white">Geology</h1>
                    </hgroup>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                    </hgroup>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                    </hgroup>
                </div>
            </div>
        </div>
    </div>

    <!-- ========= END OF CAROUSEL ========== -->

    <div class="sadrzaj">
        <h3>@ViewBag.Message</h3>
        <p align="justify">For now, this area is in Bosnian. We are translating and preparing alot of text. Please, be patient.</p>
    </div>

    <br />

    <div class="sadrzaj">
        <h3>@ViewBag.Message1</h3>
        <p align="justify">
            Danasnja geoloska gradja i petrografski sastav terena opcine Gorazde je rezultat duge geoloske proslosti u kojoj su se zbili dogadjaji sto su uvjetovali stvaranje raznovrsnih stijena - magmatskih, sedimentnih i metamorfnih stijena, te brojnih orudnjenja.
            Na ovom prostoru mozemo promatrati eru paleozoika koja je najdominantnija, medjutim tu je jos zastupljen mezozoik i kenozoik.
        </p>
    </div>

    <br />
    <div class="sadrzaj">
        <h3>@ViewBag.Message2</h3>
        <hr />
        <p align="justify">
            Naslage paleozoika uglavnom su zastupljenje klasticnim negolikarbonatnim slojevima. Metamorfizam stijena mjestimicno je vrlo izrazen, do te mjere da su pojedini slojevi do te mjere izmjesani, da je tesko izvrsiti hronologiju i genezu.
            Sire podrucje Gorazda gradjeno je od paleozojskih skriljaca i pjescara, karbona i perma. U strukturnom pogledu, skriljci i pjescari su svugdje kompaktni odnosno jednaki. 
            Usljed metamorfizma, pojedini skriljci izbijaju cak i na povrsinu. Sa druge strane pjescari izbijaju samo mjestimicno najcesce kao ulosci skriljcima. 
            Krecnjaci su na podlozi skriljaca te na teritoriju danasnje Opcine Gorazde nema tipski razvijenog krsa kao u Hercegovini.
            Sa tektonskog stanovista Opcina Gorazde pripada unutrasnjim dinaridima, geotektonskom kompleksu dinarida. 
            Pojas cine paleozoik Prace, takozvana prelazna zona (Priboj - Bosanska kostajnica). 
            Ova granica od Prace do Priboja je apkrosimativna i uglavnom prati rasjede a pokrivena je mezozojskim krecnjacima u vidu navlaka odnosno klipa.
            Opste stratigrafske karakteristike mezozojskih krecnjaka izrazene su u velikoj facijalnoj raznovrsnosti pojedinih clanova u geoloskim nisama.
            U tektonskom pogledu ovaj prostor nastao je kada je izdvojena zona (tektonska zona Gorazde) potiskivana prema JugoZapadu, te tako stvorila navlacnu tektonsku strukturu u kojoj preovladava struktura nizeg reda manjih boranja i dosta reversnih povratnih rasjeda.
            Zbog bolje proucenih karbonskih i permskih naslaga jasnija je hercinska (varcijska) orogeneza. 
            Nedostatkom gornjeg karbona i dijelom perma upucuje na geodinamiku (geotektoniku) koja se moze vezati uz astursku ili salsku orogenu fazu.
            Alpska orogena faza pocinje trijasom a krajem trijasa izvrsena je i starokimerijska orogena faza.
            U geomorfoloskom pogledu prema Petrovic K teritorij Opcine Gorazde u geotektonskom pogledu pripada centralnoj - paleozojsko - trijaskoj zoni. Ovaj gorsko - dolinski prostor u gornjem dijelu sliva rijeke Drine rasprostire se najvise na sedimentno - metamorfnom supstratu.
            Ove planine odnosno hrbati, u strukturnom pogledu su pretezno antiforme: horstovi, horst - antiklinale, antiklinale, antiklinorijumi, te mjestimicno navlake. 
            Dominatno preovladava fluvijalni reljef predstavljen razlicitim dolinama, manjih rijeka, potoka i rijecica, kao i rijeke Drine.
            Na prvom mjestu se istice polifaznost i kompozitnost dolinskog prosirenja rijeke Drine sa razvijenim terasama, pedimentima i manjim aluvijalnim ravnima (polojima). Terase su vise sa coklom a manje akumulativne. 
            Plavine bocnih pritoka, potocica, rijeka i rijecica takodjer su isterasirane u manjoj mjeri i u njima kao i u sljunkovito - pjeskovitim terasama rijeke Drine, naziru se faze nastanka.
            Slijedovi terasa odrazavaju tektonski, evastaticki i klimatski kompleks uticaja. 
            Klisurasti dijelovi dolinskog prosirenja nemaju dobro razvijene serije terasa ali mnogi imaju epigenetski i acedentni karakter stim  da nije zabiljezeno ni jedna piraterija ni do danasnjih dana.
</p>
    </div>


</body>

<style>
    .infosadrzaj {
        background-color: orange; /*#cddc39;*/
    }
</style>