@model IEnumerable<Drinago.Sadrzaj>
@{
    ViewBag.Title = "History documents";
}

@{
    ViewBag.Message = "History information about Gorazde";

}

<!-- ======== CAROUSEL =========-->

<body class="infosadrzaj">
    @*<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">

 
    </div>*@

    <div class="sadrzaj">
        <h2>@ViewBag.Message</h2>
        <h4>Short Notice</h4>
        <p>For now, this text area is in Bosnian. We are in the translating process.</p>
        <hr />
        <!-- Podaci iz Baze -->
        @foreach (var item in Model)
        {
        <!-- Trazi podatke iz column History1 -->
            @Html.DisplayFor(modelItem => item.History1)
            <hr />
        <!-- Trazi podatke iz column History2 -->
            @Html.DisplayFor(modelItem => item.History2)
            <hr />
        }
        <!-- Kraj podataka iz Baze -->
    </div>
</body>

<!--In line styling because i am lazy -->
<style>
    .infosadrzaj {
        background-color: orange; /*#cddc39;*/
    }

    div {
        text-align: justify;
    }
</style>